@model IEnumerable<AnimeListIndexViewModel>

@{
    ViewData["Title"] = "Anime Catalog";
}

<h1>List of Anime media</h1>

<p>
    <a asp-action="Create">Add to Catalog</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnimeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimeGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimeStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimeEndDate)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnimeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimeGenre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimeStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimeEndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimeListId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnimeListId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnimeListId">Delete</a>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-controller="UserAnime" asp-action="AddToWatchlist" method="post" style="display:inline;">
                            <input type="hidden" name="animeId" value="@item.AnimeListId" />
                            <button>Add to Watchlist</button>
                        </form>
                    }

            </td>
        </tr>
}
    </tbody>
</table>
